body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.submit-container{
    display: flex;
    justify-content: center;
    box-shadow:0px 0px 5px rgb(139, 139, 139);
    margin:0px 320px;
    padding-bottom:25px;
    border-radius:5px;
    
}
.submit-container:hover{
    box-shadow:0px 0px 8px rgb(139, 139, 139);
}
.text-center{
    text-align: center;
}
.form-control{
    width:360px;
    height:25px;
    padding-left:7px;
    border-top:none;
    border-left:none;
    border-right:none;
}
.form-control:focus{
    outline-style: none;
    border-color:rgb(0, 167, 0);
}
.btn1{
    padding:4px 15px;
    border-radius:3px;
    border:none;
    background-color:rgb(0, 167, 0);
    color:white;
}
.bankText{
    color:rgb(255, 123, 0);
}
#login-area{
    margin-top:50px;
}
